# Virtual environment
myenv/

# Python cache
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# Ignore environment variables file
.env

# Ignore data folder
data/

# Ignore large files
*.dll
*.lib
